head{
    background-color: darkgray;
}

body{
    background-color: darkgrey;
}

h1{
    color: black;
    text-align: center;
    font-size: 40px;
}

p{
    color: black;
    text-align: center;
    font-size: 15px;
}
